body {
    padding-top: 0px;
}
.img-logo {
    margin-right: 1rem !important;
    vertical-align: middle;
    border-style: none;
}

.title {
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: .5rem;
    font-weight: 300;
}

.sub-title {
    margin-top: 1.5rem;
    margin-bottom: .5rem;
    font-weight: 300;
}

.leader {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 300;
}

.api-title {
    margin-top: 1rem;
    margin-bottom: 0,5rem;
    font-weight: 500;
}

.api-list {
    padding: 1.4rem;
    margin-right: 0;
    margin-left: 0;
    border-style: solid;
    border-width: 1px;
    border-color: #655b94;
}

.index-list {
    padding: 1.4rem;
    margin-right: 0;
    margin-left: 0;
    border-style: solid;
    border-width: 2px;
    border-color: #d0ebf1;
}

.btn-default {
    background-color: #d1ecf1;
    color: #212529;
}

.footer-light {
    font-size: 75%;
    color: #818a91;
}

.form-row-buttons {
    margin-left: 10px;

}

th {
    font-weight: 600;
}

.form-group label.control-label {
    font-weight: 600;
}

.bd-callout {
    padding: 1.25rem;
    margin-top: 1.0rem;
    margin-bottom: 1.0rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
}

.bd-callout-light {
    border-left-color: #ecd2ad;
}

.bd-callout-info {
    border-left-color: #bee5eb;
}

pre code {
    color: #e83e8c;
}

.btn-outline-danger {
    background-color: #fa9c9c26;
}