@{
    var definitions = (List<Glossary.Data.Definition>)Model;
}
<main role="main" class="container">
    <div class="row">
        <main class="col-12">
            <p class="leader">All Terms</p>
            <div class="bg-white box-shadow rounded">
                <h6 class="border-bottom"></h6>
                @foreach (var def in definitions)
                {
                    <dl>
                        <dt>@def.Term</dt>
                        <dd>@def.TermDefinition</dd>
                    </dl>
                }
            </div>
        </main>
    </div>
</main>
