<main role="main">
    <div class="row">
        <main class="col-12">
            <div>
                <h4 class="api-title">Glossary API</h4>
            </div>
            <p></p>
            <p class="leader">Available HTTP methods</p>

            <div class="bg-white box-shadow rounded">
                <div class="bd-callout bd-callout-info">
                    <h5>Get all term definitions</h5>
                    <p></p>
                    <p class="h6">HTTP endpoint GET: http://../api/Definitions</p>
                    <p>Content-Type: application/json</p>
                    <p>Returns JSON array of term definitions (see below)</p>
                </div>

                <div class="bd-callout bd-callout-info">
                    <h5>Bulk import - insert or update one or more glossary of terms</h5>
                    <p></p>
                    <p class="h6">HTTP endpoint POST: http://../api/Definitions</p>
                    <p>Content-Type: application/json</p>
                    <p>Request body: JSON array of term definitions (see below)</p>
                   <div>The response returns a JSON structure showing the number of records affected e.g.</div>
                    <code class="lang" data-lang="javascript">
                        {
                        "RecordsTotal":3,
                        "RecordsUpdated":1
                        }
                    </code>
                </div>
                <div class="bd-callout bd-callout-light">
                    <figure>
                        <figcaption>Example JSON array of term definitions:</figcaption>
                        <code contenteditable spellcheck="false"></code>
                        <pre><code class="lang" data-lang="javascript" contenteditable spellcheck="false">
[{
  "Term":"Synonym",
  "TermDefinition":"a word which means exactly or nearly the same as another"
},
{
  "Term":"Auto-antonym",
  "TermDefinition":"a word which can mean the opposite of itself"
},
  /* etc. */
]</code></pre></figure>
                </div>
            </div>
        </main>
    </div>
</main>
