
<main role="main" class="container">
    <div class="row">
        <main class="col-12">
            <div>
                <h1 class="title">A Glossary of Terms</h1>
            </div>
            <p></p>
            <p class="leader">[random quote]</p>

            <div class="bg-white box-shadow api-list rounded">
                <button type="button" class="btn btn-primary">New Word</button>
                @Html.ActionLink("Definitions", "Index", "Definitions1")
            </div>
        </main>
    </div>
</main>